body {
  margin: 0;
  min-width: 320px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.portfolio-item {
  border: 5px solid rgba(56, 47, 139, 0.5);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.term {
  font-weight: bold;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  display: inline-block;
  margin-bottom: 20px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-header a + a {
  margin-left: 56px;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 1.3;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 1.3;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
  border-radius: 50%;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-c {
  background-image: url("img/icon-c.svg");
}

.skill-c\+\+ {
  background-image: url("img/icon-cpp.svg");
}

.skill-python {
  background-image: url("img/icon-python.svg");
}

.skill-linux {
  background-image: url("img/icon-linux.svg");
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.galery,
.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  display: inline-block;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-footer a + a {
  margin-left: 56px;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 60px;
  }

  .subheading {
    font-size: 50px;
  }
}

@media screen and (max-width: 570px) {
  .heading,
  .subheading {
    font-size: 40px;
  }

  .hero-image p {
    font-size: 26px;
  }
  .intro h3,
  .portfolio h3 {
    font-size: 22px;
  }
}

.buttons-block {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sort-button {
  /* Сброс стилей по умолчанию */
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  /* Стилизация кнопки */
  margin: 2px 0;
  border: solid 3px rgba(56, 47, 139, 0.5);
  border-radius: 6px;
  padding: 6px 20px;
  font-weight: bold;
}

.sort-button:hover {
  background-color: #288be6;
}
